body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

fieldset {
    background-color: azure;
    padding: 15px;
    border-radius: 8px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, textarea {
    width: 60%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}